@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

h1, h2, h3, h4 {
	text-align: center;
}

a {
	text-decoration: none;
}

body {
	margin: 0 auto;
	font-family: "Gayathri";
	font-size: 1.2rem;
}

.main-section {
	margin: 5vw;
}

nav {
	display: flex;
	justify-content: space-evenly;
	background-color: rgba(131, 163, 236, 0.8);
	margin: 0;
	padding: 1rem;
	width: 100%;
	box-shadow: 0 1px;
}

.details-maininfo-card {
	display: flex;
	flex-direction: column;
	width: 60vw;
	margin: auto;
}

#maininfo-card-home-index {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	gap: 1rem;
	justify-content: center;
	background-color: rgba(210, 219, 241, 0.9);
}

.details-maininfo-card-lists li, nav a, p{
	display: flex;
	background-color: rgba(255, 247, 247, 0.883);
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	margin: 1rem;
	padding: 1.5rem;
	height: 1.5rem;
	border-radius: 10px 10px;
	box-shadow: 0 1px 1px 1px;
}

.bottom-buttons {
	display: flex;
	justify-content: center;
	gap: 3rem;
}