@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

h1, h2, h3, h4 {
	text-align: center;
}

body {
	margin: 0 auto;
	font-family: "Gayathri";
	font-size: 1.2rem;
}

.main-section {
	margin: 5vw;
}

nav {
	display: flex;
	justify-content: space-evenly;
	background-color: rgba(131, 163, 236, 0.8);
	margin: 0;
	padding: 1rem;
	width: 100%;
}

.details-maininfo-card {
	display: flex;
	flex-direction: column;
	width: 70vw;
	margin: auto;

}

#maininfo-card-home-index {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	background-color: rgba(208, 216, 234, 0.9);
}

.details-maininfo-card-lists li{
	/* background-color: rgba(255, 255, 255, 0.4); */
	list-style: none;
	margin: 1rem;
	height: 2rem;
}