<nav>
  <p>@Html.ActionLink("Home", "Index", "Home", null, new {@Class="btn btn-primary"})</p>
  <p>@Html.ActionLink("See Our Engineers", "Index", "Engineers", null, new {@Class="btn btn-primary"})</p> 
  <p>@Html.ActionLink("See The Machines We Service", "Index", "Machines", null, new {@Class="btn btn-primary"})</p>
</nav>