<nav>
  <h4>@Html.ActionLink("Home", "Index", "Home", null, new {@Class="btn btn-primary"})</h4>
  <h4>@Html.ActionLink("See Our Engineers", "Index", "Engineers", null, new {@Class="btn btn-primary"})</h4> 
  <h4>@Html.ActionLink("See The Machines We Service", "Index", "Machines", null, new {@Class="btn btn-primary"})</h4>
</nav>