@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. Sillystringz Factory Database.</h1>
<p>@Html.ActionLink("See our Engineers.", "Index", "Engineers")</p> 
<br>
<p>@Html.ActionLink("See the Machines we work with.", "Index", "Machines")</p>